.experience__intro__container {
    background-color: #6E07F3;
    margin-top: 3px;
}

.experience__intro__heading {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    padding: 5em 0 15em 0;
    width: 60%;
}

.experience__intro__heading h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin: 0;
    padding: 0;
}

.experience__intro__heading h2 {
    font-weight: 600;
    font-size: 1.6rem;
    margin: 26px 0 1px;
}

.experience__intro__heading h3 {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
}

.experience__container {
    margin: -10em auto 0;
    max-width: 1440px;
    width: 94%;
}

.experience__card__container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 2em;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    padding: 4rem 2rem;
    text-align: center;
}

.experience__card {
    flex: 1 0 0;
    border-radius: 10px;
    border: 1px solid #ff1b6b;
    color: #141c3a;
    padding: 2em;
    transition: .7s ease-out;
}

.experience__card:hover{
    box-shadow: 0 0 30px rgb(217 131 131 / 40%);
    transform: translateY(-1rem);
}

.experience__image__container {
    height: 5.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

.experience__image {
    width: 80px;
    height: auto;
}

.experience__details h3,
p,
h4 {
    padding: 1px;
    margin: 0;
}

.experience__position__title {
    font-weight: 700;
    font-size: 1.2em;
}

.experience__company__title a {
    padding: 0px 20px 0px 0px;
    color: #141c3a;
    font-weight: 600;
    font-size: 1.1em;
}

.experience__company__title a:hover {
    transition: all .3s ease-in-out;
    color: #6E07F3;
}

.position__work__time {
    padding-right: 20px;
}

.experience__position__description {
    padding-top: 10px;
    font-size: 1em;
    font-weight: 600;
    text-align: justify;
}

@media (max-width: 1024px) {
    .company__title__container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .experience__intro__heading {
        max-width: 1000px;
        width: 90%;
    }

    .experience__container {
        width: 95%;
    }

    .experience__card__container {
        gap: 1em;
        padding: 4rem 1rem;
    }

    .experience__card {
        padding: 1em;
    }
}

@media (max-width: 550px) {
    .experience__head {
        width: 90%;
    }

    .experience__card__container {
        flex-direction: column;
    }
}