.footer{
    padding-top:4em ;
}
.footer__container{
    background: hsla(266, 94%, 49%, 1);
    background: linear-gradient(315deg, hsla(266, 94%, 49%, 1) 80%, hsla(294, 100%, 55%, 1) 100%);
    background: -moz-linear-gradient(315deg, hsla(266, 94%, 49%, 1) 80%, hsla(294, 100%, 55%, 1) 100%);
    background: -webkit-linear-gradient(315deg, hsla(266, 94%, 49%, 1) 80%, hsla(294, 100%, 55%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#6E07F3", endColorstr="#E81CFF", GradientType=1 );
    /* z-index: -10;
    position: relative; */
    margin-top: 21px;
    padding: 95px 95px 60px 95px;
    text-align: center;
}
.start__project__container{
    padding: 54px 0px;
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
}
.start__project__box{
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    position: absolute;
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    border-radius: 14px;
}
.start__project__content{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    padding: 3rem 0.5rem;
    align-items: center;
    text-align: center;
    color: #fff;
}
.start__project{
    flex: 1 1 20%;
}
.interested{
    flex: 2 1 20%;
}
.let__do__this{
    flex: 1 1 20%;
}
.start__project h2{
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    font-weight: 700;
}
.interested h3{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    padding: 0 1em;
}
.let__do__this{
    text-align: center;
}
.let__do__this a{
    border: 2px solid #5be9b9;
    border-radius: 30px;
    padding: 14px 46px;
    color: #fff;
    transition: all 0.5s ease-out;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2em;
}
.let__do__this a:hover,
.let__do__this a:focus{
    background-color: #5be9b9;
    color: #141c3a;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1.21em;
}
.footer__icon{
    padding-top: 6em;
}
.footer__icon img{
    width: 100px;
    height: auto;
}
.quote h2{
    color: #fff;
    margin: 0 auto;
    max-width: 320px;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 1.5em;
    opacity: 0.8;
}
.social__links{
    padding-top: 3em ;
}
.social__links a{
    color: #fff;
}
.social__links a:not(:nth-child(3)){
    padding-right: 1.5em;
}
.social__links a:hover{
    color: #141c3a;
}
.copyright{
    padding-top: 3em;
}
.copyright h3{
    color: #fff;
    opacity: 0.8;
    font-size: 1.2em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.made__with{
    padding-top: 1em;
    margin: 0;
}
.made__with h4{
    color: #fff;
    opacity: 0.8;
    font-size: 0.7em;
    font-weight: 300;
}
@media (max-width: 800px) {
    .start__project__content{
        gap: 2em;
    }
    .start__project{
        flex: 1 1 100%;
    }
}
@media (max-width: 630px) {
    .start__project__content{
        gap: 2em;
    }
    .start__project{
        flex: 1 1 100%;
    }
    .interested{
        flex: 2 1 100%;
    }
    .let__do__this{
        flex: 1 1 100%;
    }
    .footer__icon{
        padding-top: 10em;
    }
}