.footer{
    padding-top:4em ;
}
.footer__container{
    background-color: #6E07F3;
    z-index: -10;
    position: relative;
    margin-top: 21px;
    padding: 95px;
    text-align: center;
}
.start__project__container{
    padding: 60px 0px;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
}
.start__project__box{
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    position: absolute;
    background-color: #141c3a;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #141c3a;
    border-radius: 14px;
}
.start__project__content{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    padding: 3.5rem 5rem;
    align-items: center;
    text-align: center;
    color: #fff;
    gap: 4em;
}
.start__project{
flex: 1 1 0;
}
.interested{
    flex: 2 1 0;
}
.let__do__this{
    flex: 1 1 0;
}
.let__do__this a{
    color: #fff;
}
.start__project h2{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}
.interested h3{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    padding: 0 1em;
}