.navbar{
    padding: 0.3rem 0;
    box-shadow: none;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
.navbar-container{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
}
.main-icon img{
    width: 80px;
    height: auto;
}
.main-menu{
    display: flex;
    z-index: 2;
    padding: 0;
    margin: 0;
    font-size: 16px;
    transition: transform 0.4s ease-in-out
}
.main-menu li{
    padding: 15px;
}
.main-menu li a{
    font-weight: 600;
    font-size: 18px;
    color: #141c3a;
}
.main-menu li:not(:nth-child(6)) a:hover {
    transition: all .2s ease-in-out;
    color: #6E07F3;
}
.main-menu li:nth-child(6) a{
    color: #6E07F3;
    border: 2px solid #6E07F3;
    border-radius: 5px;
    padding: 10px 20px;
}
.main-menu li:nth-child(6):hover a{
    color: #fff;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #6E07F3;
}
.menu-toggle{
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1000;
    transition: transform 0.4s ease-in-out;
}
.menu-toggle.open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}
.menu-toggle.open .bar:nth-child(2) {
    opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
.menu-toggle.open .bar:nth-child(4) {
    transform: translateY(-6px) rotate(-45deg);
}
.menu-toggle.open .bar:nth-child(5) {
    transform: translateY(-6px) rotate(-45deg);
}
.bar{
    width: 25px;
    height: 3px;
    margin: 3px 0;
    transition: 0.4s;
    background-color:#141c3a;
}
.menu-toggle:hover .bar{
    background-color:#6E07F3;
}

@media (max-width: 1000px) {
    .main-menu {
        display: none;
    }
    .menu-toggle {
        display: flex;
    }
    .main-menu li:nth-child(6) {
        padding: 15px 15px 25px 15px;
    }
    .navbar.menu-open .main-menu {
        flex-direction: column;
        position: absolute;
        top: -14px;
        right: 2px;
        width: 50%;
        background-color: #fff;
        box-shadow: -5px 5px 20px 0px rgb(0 0 0 / 24%);
        animation: slideIn 0.4s ease-in-out;
    }
    .navbar.menu-open .main-menu.open {
        display: flex;
    }
    @keyframes slideIn{
        10% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(0);
        }
    }
}