/* .education__container__main{
    margin-top: -10rem;
} */
.education{
    margin-top: 1em;
}
.education__container{
    display: flex;
    margin: 0 auto;
    max-width: 1180px;
    width: 90%;
    padding: 3rem 0rem;
}
.education__main__img{
    flex: 1 1;
    text-align: center;
}
.education__screen__svg{
    max-width: 70%;
    height: auto;
}
.education__data{
    flex: 1 1 0;
    text-align: center;
}
.education__data h1, .degrees h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: #141c3a;
}
.education__data h2{
    font-size: 2rem;
    font-weight: 600;
    color: #202e5c;
}
.degrees{
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #141c3a;
    width: 100%;
    padding-bottom: 2em;
}
/* .education__container__main{
    margin-top: -10rem;
} */
.education__card__main{
    margin: 0 auto;
    max-width: 1180px;
    width: 90%;
    padding: 1rem 0rem;
}
.education__card__container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    gap: 2em;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #5be9b9;
    color: #141c3a; 
    padding: 15px 10px;
}
.education__image__container{
    display: flex;
    align-items: center;
}
.education__details{
    flex: 1 1;
}
.education__image{
    width: 70px;
    height: auto;
}
.education__details h3, p, h4{
    padding: 1px;
    margin: 0;
}
.education__title__container{
    flex: 1 1;
}
.education__position__title{
    font-weight: 700;
    font-size: 1.2em;
}
.education__college__title a{
    padding: 0px 20px 0px 0px;
    color: #141c3a;  
    font-weight: 600;  
    font-size: 1.1em;
}
.education__college__title a:hover{
    transition: all .3s ease-in-out;
    color:#6E07F3;
}
.college__title__container{
    display: flex;
    flex-direction: row;
}
.degree__work__time, .college__location{
    padding-right: 20px;
}
.education__position__description{
    padding-top: 10px;
    font-size: 1em;
    font-weight: 600; 
}
@media (max-width: 800px) {
    .education__data{
        margin-top: -3em;
    }
}
@media (max-width: 630px) {
    .education__container{
        flex-direction: column;
    }
    .education__screen__svg{
        max-width: 40%;
        height: auto;
    }
}
@media (max-width: 1024px) {
    .college__title__container{
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .education__card__container{
        flex-direction: column;
        align-items: center;
    }
    .education__details{
        text-align: center;
    }
}